<div class="container">
    <div class="row">
        <h2>Binding</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Los binding son las herramientas de angular que nos permiten hacer enlaces entre nuestra plantilla (template/html) y nuestro TS</p>
        </div>
        <div class="col-md-6">
            <p>Existen 4 tipos de bindings</p>
            <ul>
                <li>Interpolación {{'{{}}'}}</li>
                <li>Property binding "[]"</li>
                <li>Event binding "()"</li>
                <li>Two-way binding (Banana in the box) "[()]"</li>
            </ul>
        </div>
    </div>
</div>