<div class="container">
    <div class="row">
        <h3>Formularios en angular</h3>
        <br>
        <p>Para nosotros trabajar con formularios en angular tenemos dos opciones los cuales son los template form y los react form (formulario reactivos). Todo va a depender de la necesidad de la cual tengamos.</p>
    </div>
    <hr>
    <div class="row">
        <h3>Template form (Formularios de plantilla)</h3>
        <br>
        <p>Son aquellos formularios que usan las directivas de angular para poder hacer los enlaces con nuestro ts y de esta manera tener conectados nuestros valores. Generalmente la directiva que mas resalta es el [(ngModel)]. <strong>Ejemplo: en el lista de la tienda</strong> </p>
        <br>
        <p><strong>Es necesario importar la libreria FormsModule</strong></p>
    </div>
    <div class="row">
        <div class="col-md-9">
            <h3>React Form (Formularios Reactivos)</h3>
            <br>
            <p>Forma parte de la libreria <strong>ReactiveFormsModule (obligatorio importar)</strong> y gracias a esta vamos a tener un objeto donde vamos a poder evaluar cada uno de nuestros campos con beneficios como saber si es valido, si fue tocado, si tiene un valor distinto al inicial, etc. Siendo ideal para el manejo de formularios complejos</p>
        </div>
        
    </div>
</div>
