<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h3>Http Client</h3>
            <br>
            <p>El http cliente es un modulo que pertenece a la liberia de angular/common/http y es la que se encarga de crear las peticiones http a los servidores. Es importante que la importemos en el modulo donde se haga uso.</p>
            <br>
            <p>Los metodos qeu podemos usar de la libreria son:</p>
            <br>
            <ul>
                <li><strong>GET:</strong> Sirve para hacer solicitud de datos. </li>
                <li><strong>POST:</strong> Sirve para agregar datos.</li>
                <li><strong>PUT:</strong> Sirve para actualizar datos.</li>
                <li><strong>DELETE: </strong> Sirve para eliminar datos</li>
            </ul>
        </div>
    </div>
</div>