<div class="container">
    <div class="row">
        <h2>Ciclo de vida de un componente</h2>
    </div>

    <div class="row">
        <p>Los ciclos de vida son eventos que ocurren durante la creacion(renderizacion) del template y posibles cambios que sufra</p>
        <br>
        <p>Angular nos ofrece unos metodos llamados hooks y sirven para ejecutarse durante determinado proceso</p>

        <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/0*wEGNC-p9kA91tb8K.png">
    </div>
</div>