<div class="container">
  <form [formGroup]="formulario">
    <div class="row">
      <div class="mb-3">
        <label class="form-label">Titulo</label>
        <input
          type="text"
          class="form-control"
          placeholder="Inserte su titulo"
          formControlName="title"
        />
        <div class="form-text text-danger" *ngIf="title?.touched && title?.status == 'INVALID'">
          El titulo es requerido!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Precio</label>
        <input
          type="text"
          class="form-control"
          placeholder="Inserte el precio"
          formControlName="price"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Descripción</label>
        <textarea
          class="form-control"
          placeholder="Inserte una descrición"
          formControlName="description"
        ></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label">Categorias</label>
        <select class="form-select" formControlName="category"> 
            <option [value]="''">Seleccione una opcion</option>
            <option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</option>
          </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Imagen</label>
        <input
          type="text"
          class="form-control"
          placeholder="Inserte el enlace de su imagen"
          formControlName="image"
        />
      </div>
    </div>
    <div class="row">
      <button class="btn btn-light col-md-6" [routerLink]="'/tienda/productos/lista'">
        Volver
      </button>
      <button *ngIf="id == 0" class="btn btn-success col-md-6" (click)="guardar()">Guardar</button>
      <button *ngIf="!(id == 0)" class="btn btn-success col-md-6" (click)="actualizar()">Actualizar</button>
    </div>
  </form>
</div>
