<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h3>Services</h3>
            <br>
            <p>Los services son aquellas clases dentro de angular tienen como penultima extension ".service" y tienen como principal objetivo se proveedor,gestor y/o modificadores de lo que son nuestros datos.  </p>
            <br>
            <p>
                Su principal uso se da para comunicarse con API's, webService para obtener, modificar, guardar o eliminar informacion. Adicionalmente, podemos gestionar datos que esten dentro de nuestro navegador.
            </p>
            <br>
        </div>
        <div class="col-md-3">
            <h4>Ejemplo:</h4>
            <strong>Mirar el ejemplo en shared/services</strong>
        </div>
    </div>
</div>