<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h3>Models</h3>
            <br>
            <p>Los modelos son clases/interfaces que representa la estructura de datos de nuestra aplicacion. Estos modelos nos ayudaran a mantener un mejor orden dentro de nuestra aplicacion.</p>
            <br>
            <p>Estos nos facilitan la comunicación y organización de nuestros datos ya que hacemos tipados, ademas de poder aprovechar actualizaciones a nivel de la aplicación</p>
        </div>
        <div class="col-md-3">
            <h4>Ejemplo:</h4>
            <br>
            <p>Visualizar la carpeta de shared/models</p>
        </div>
    </div>
</div>