<app-menu-clases (cambiarPagina)="cambiarValorSelector($event)"></app-menu-clases>
<router-outlet></router-outlet>


<!-- codigo anterior -->
<!-- <select class="form-select" (change)="cambiarValorSelector($event)">
    <option value="0">Seleccione Uno</option>
    <option value="Componentes">Componentes</option>
    <option value="Binding">Binding - Conexiones</option>
    <option value="CicloDeVida">Ciclo de vida</option>
    <option value="Directivas">Directivas</option>
    
</select> -->
<!-- <select class="form-select" [(ngModel)]="claseSeleccionada">
    <option [value]="''">Seleccione Uno</option>
    <option [value]="'Componentes'">Componentes</option>
    <option [value]="'Binding'">Binding - Conexiones</option>
    <option [value]="'CicloDeVida'">Ciclo de vida</option>
    <option [value]="'Directivas'">Directivas</option>
    <option [value]="'Calculadora'">Calculadora</option>
    
</select>  -->
<!-- <h1 class="text-center">{{claseSeleccionada}}</h1> -->
<!-- <ng-container [ngSwitch]="claseSeleccionada">
    <app-componente *ngSwitchCase=" 'componentes'"></app-componente>
    <hr>
    <app-binding *ngSwitchCase="'binding' "></app-binding>
    <hr>
    <app-ciclo-vida *ngSwitchCase="'ciclo-de-vida' "></app-ciclo-vida>
    <hr>
    <app-directivas *ngSwitchCase="'directivas' "></app-directivas>
    <hr>
    <app-calculadora *ngSwitchCase="'calculadora'"></app-calculadora>
    <hr>
    <app-comunicacion-componentes *ngSwitchCase="'comunicacion-component'"></app-comunicacion-componentes>
    <hr>
    <app-routing></app-routing>
</ng-container> -->

<app-models></app-models>
<app-services></app-services>
<app-httpclient></app-httpclient>